---
layout: page
title: Welcome to Gnomics.io!
subtitle: Free courses to learn genomics and become a bioinformatician 
---

<div class="intro-page">
  <p>This website is dedicated to teaching the basic know-how to become a bioinformatician.
	The list of courses are listed hereunder.</p>
</div>


{% for topic in site.topics %}
<div class="home-topic-pres">
  <h1> {{ topic.toc-title }} </h1>
  <p> {{ topic.home-description }} </p>
  {% assign url-not-found = true %}
  {% for section in site.sections %}
    {% if url-not-found %}
    {% if section.topic == topic.topic %}
      {% assign first-section = section %}
      {% assign url-not-found = false %}
    {% endif %}
    {% endif %}
  {% endfor %}
  <p><a href="{{ first-section.url }}">Click here to start this course</a></p>
</div>
{% endfor %}

</div>



