html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

nav {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

.nav-container {
    display: inline-block;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.nav-links {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.site-title {
    float: left;
}

nav a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #eee;
    padding: 2em 0;
    text-align: center;
}

.content {
    flex: 1;
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

.post-meta {
    width: 120px;
    margin-right: 10px; /* Keeps a space between the date and the title */
}
.post-link {
    line-height: 1.6;
}
